<!DOCTYPE html>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign ordered_docs = site.pages | sort: "nav_order" %}
        {% assign first_doc = ordered_docs.first %}

        {% if first_doc %}
            <link rel="next" href="{{site.baseurl}}{{first_doc.url}}" />
        {% endif %}
    </head>
    <body>
        <a class="skip-link" href="#main-content">Skip to main content</a>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation" aria-label="Reading controls">
                    <!-- Title -->
                    <p class="book-header-title">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </p>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    <nav class="document-pagination" aria-label="Document pagination">
                        <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique">
                            <span class="navigation-direction">Home</span>
                            <span class="navigation-title">{{ site.title | escape }}</span>
                        </a>

                        {% if first_doc %}
                            <a href="{{site.baseurl}}{{first_doc.url}}" class="navigation navigation-next navigation-unique">
                                <span class="navigation-direction">Next</span>
                                <span class="navigation-title">{{ first_doc.title | escape }}</span>
                            </a>
                        {% endif %}
                    </nav>
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>
